li {
    display: inline-block;
    padding: 5px 10px;
}
ul {
    display: inline;
    list-style: none;
}
.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}
.auto-size {
    width: auto;
    display: inline-block;
}
.here {
  background-color: rgb(0, 255, 55);
  color: rgb(255, 38, 0);
}
body {
    background-image: url("pics/Wall-001.jpeg");
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    min-height: 100vh;
}
p {
    background-color: rgba(194, 240, 240, 0.13);
}
*{
    font-family: "poppins";
}
.circle {
    border-radius: 50%;
}
